<a href="https://colab.research.google.com/github/redcoding72/Data-Science/blob/main/Titanic_Survival_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Titanic Survival Prediction

In [2]:
# Importer les librairies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data=pd.read_csv('/content/drive/MyDrive/titanic/train.csv')
test=pd.read_csv('/content/drive/MyDrive/titanic/test.csv')
test_ids =test["PassengerId"]

In [4]:

def clean(data):
  data=data.drop(['Ticket', 'Cabin', 'Name', 'PassengerId'], axis=1)
  cols =['SibSp', 'Parch', 'Fare', 'Age']
  for col in cols:
    data[col].fillna(data[col].median(), inplace=True)
  data.Embarked.fillna('U', inplace=True)
  return data

In [5]:
data = clean(data)
test = clean(test)
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [6]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
cols =["Sex", "Embarked"]
for col in cols:
  data[col]=le.fit_transform(data[col])
  test[col]=le.fit_transform(test[col])

In [7]:
data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [8]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

y = data['Survived']
X = data.drop("Survived", axis=1)

X_train, X_val, y_train, y_val = train_test_split(X,y , test_size=0.2, random_state=42)

In [9]:
# On va appliquer trois algorithmes: Logistic Regression, KNN, DecisionTree
clf = LogisticRegression(random_state=0, max_iter=1000).fit(X_train, y_train)
tree = DecisionTreeClassifier(max_depth=1, random_state=42).fit(X_train, y_train)
knn = KNeighborsClassifier().fit(X_train, y_train)

In [10]:
predictions = clf.predict(X_val)
tree_predictions = tree.predict(X_val)
knn_predictions = knn.predict(X_val)
from sklearn.metrics import accuracy_score
lr=accuracy_score(y_val, predictions)
arbre=accuracy_score(y_val, tree_predictions)
kn = accuracy_score(y_val, knn_predictions)
print(f"LogisticRegression : {lr}")
print("-"*50)
print(f"DecisionTreeClassifier : {arbre}")
print("-"*50)
print(f"KNeighborsClassifier : {kn}")

LogisticRegression : 0.8100558659217877
--------------------------------------------------
DecisionTreeClassifier : 0.7821229050279329
--------------------------------------------------
KNeighborsClassifier : 0.7039106145251397

In [11]:
# LogisticRegression a le meuilleur score on va l'appliquer
submission_preds = clf.predict(test)

In [12]:
df=pd.DataFrame({"PassengerId":test_ids.values,
                 "Survived":submission_preds
                 })

In [14]:
df.to_csv("/content/drive/MyDrive/titanic/submission.csv", index=False)